# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
- Python  
- R  
- Java

### Some of the commonly used libraries used by Data Scientists include:
- Matplotlib  
- Seaborn  
- Plotly

---

| **Data Science Tools** |
|-------------------------|
| Jupyter Notebook        |
| RStudio                 |
| Visual Studio Code      |

---

### Below are a few examples of evaluating arithmetic expressions in Python.

In [14]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [15]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- Explore commonly used libraries in Data Science
- Demonstrate arithmetic operations in Python
- Understand tools used in Data Science
- Convert time units using Python

## Author

Jaime Hern√°ndez